In [3]:
# Dependencies
import requests
import json
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd
#!pip install citipy
from pprint import pprint
import random
import numpy as np
import seaborn as sns
import csv

In [12]:
data = pd.read_csv("data.csv")

data.head()

,street,city,zip,state,beds,baths,sq__ft,type,price,latitude,longitude,day,month,date,year
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,59222,38.631913,-121.434879,Wed,May,21,2008
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,68212,38.478902,-121.431028,Wed,May,21,2008
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,68880,38.618305,-121.443839,Wed,May,21,2008
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,69307,38.616835,-121.439146,Wed,May,21,2008
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,81900,38.519470,-121.435768,Wed,May,21,2008

In [13]:
#cleaning data
#removing houses with 0 rooms
cleanData = data[data.beds !=0]

cleanData.head()

,street,city,zip,state,beds,baths,sq__ft,type,price,latitude,longitude,day,month,date,year
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,59222,38.631913,-121.434879,Wed,May,21,2008
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,68212,38.478902,-121.431028,Wed,May,21,2008
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,68880,38.618305,-121.443839,Wed,May,21,2008
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,69307,38.616835,-121.439146,Wed,May,21,2008
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,81900,38.519470,-121.435768,Wed,May,21,2008

In [18]:
cleanData.value_counts("baths")

baths
2    544
1    180
3    132
4     19
5      2
dtype: int64